.formRegisterView {
  position: relative;
  border: 1px solid dimgray;
  padding: 15px;
}

.labelRegisterView {
  display: block;
  text-align: start;
  margin-bottom: 10px;
  height: 24px;
}

.inputRegisterView {
  position: absolute;
  width: 240px;
  left: 100px;
  border: none;
  outline-color: rgb(172, 179, 201);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnRegisterView {
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 2, 0.2),
    0px 1px 1px 0px rgba(0, 0, 2, 0.14), 0px 2px 1px -1px rgba(0, 0, 2, 0.12);
  background-color: rgb(228, 236, 243);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btnRegisterView:hover {
  background-color: white;
}
